.header {
    position: relative;
    padding: 0;
    margin: 0;
}

.header>img {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Button 25 */
.recipe__title {
    position: absolute;
    top: 19.25rem;
    left: 12.125rem;
    width: 14.3125rem;
    height: 2.25rem;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #5D4600FF;
    background: #FFC415FF;
    opacity: 1;
    border: none;
    border-radius: .375rem;
}

/* Hover */
.recipe__title:hover {
    color: #5D4600FF;
    background: #D7A100FF;
}

/* Pressed */
.recipe__title:hover:active {
    color: #5D4600FF;
    background: #B88A00FF;
}

/* Disabled */
.recipe__title:disabled {
    opacity: 0.4;
}

/* Container 90 */
.recipe__container {
    position: absolute;
    top: 20.3125rem;
    left: 6.75rem;
    width: 25.8125rem;
    height: 26.125rem;
    background: #FFFFFFFF;
    border-radius: .75rem;
    border-width: .0625rem;
    border-color: #854EF4FF;
    border-style: dashed;
}

.recipe__container__title {
    position: absolute;
    top: 4.0625rem;
    left: 8.25rem;
    font-family: Poppins;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    color: #F44B87FF;
}

.recipe__container__content {
    position: absolute;
    top: 6.6875rem;
    left: 2.3125rem;
    width: 21.25rem;
    height: 5.5rem;
    font-family: Manrope;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #171A1FFF;
    text-align: center;
}

/* Avatar 19 */
.recipe__container__avatar {
    position: absolute;
    top: 14.0625rem;
    left: 9.9375rem;
    opacity: 1;
    overflow: hidden;
    border-radius: 1.125rem;
}

.recipe__container__author {
    position: absolute;
    top: 18.375rem;
    left: 9.375rem;
    font-family: Manrope;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    color: #565E6CFF;
    text-align: center;
}

/* Button 24 */
.recipe__container__button {
    position: absolute;
    top: 21.25rem;
    left: 9.3125rem;
    height: 2.875rem;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #F44B87FF;
    opacity: 1;
    border: none;
    border-radius: .75rem;
    gap: .375rem;
}

.recipe__container__button .icon {
    width: 1rem;
    height: 1rem;
    fill: #FFFFFFFF;
}

/* Hover */
.recipe__container__button:hover {
    color: #FFFFFFFF;
    background: #F0105EFF;
}

/* Pressed */
.recipe__container__button:hover:active {
    color: #FFFFFFFF;
    background: #D20D52FF;
}

/* Disabled */
.recipe__container__button:disabled {
    opacity: 0.4;
}

/* Container 97 */
.summer__recipe__container {
    position: relative;
    left: 0rem;
    width: 100%;
    height: 34.5rem;
    background: rgb(255, 255, 255);
    border-radius: .375rem;
    text-align: center;
    margin-bottom: 6.25rem;
}

.summer__recipe__title {
    font-family: Lora;
    font-size: 3.75rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #F44B87FF;
}

.summer__recipe__content {
    margin-top: .625rem;
    font-family: Manrope;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: #171A1FFF;
}

.summer__recipe__content__video {
    font-family: Manrope;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: #171A1FFF;
    text-align: center;
}

.summer__recipe__list {
    position: relative;
    top: -9.375rem;
    left: 10rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Container 107 */
.editor__pick__container {
    position: relative;
    left: 0rem;
    width: 100%;
    height: 49.75rem;
    background: #FFFFFFFF;
    border-radius: 0rem;
    text-align: center;
    margin-bottom: 6.25rem;
}

.editor__pick__title {
    font-family: Lora;
    font-size: 3.75rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #F44B87FF;
}

.editor__pick__content {
    margin-top: .625rem;
    font-family: Manrope;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: #171A1FFF;
}

.editor__pick__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    position: relative;
    width: 70%;
    left: 13%;
    top: -9.375rem;
}